@media print {
    .my_footer, #myCarousel, .pagination, aside, footer, .comments{
        display: none;
    }

    .main-content{
        width: 100%;
    }
    body{
        margin-top: 0px;
    }
    
    a[href]:after {content: none;}
}
